.portfolio{
    width:100vw;
    min-height: calc(100vh - 5rem);
    max-width: 65rem;
    margin: 0 auto;
    text-align: center;
}
.portfolio-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    overflow-y: hidden;
}
.portfolio-desc{
    font-weight: 300;
    margin-top: 30px;
}
.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65rem;
}
.work-img{
    object-fit: cover;
    height: 20rem;
    margin: 0.5rem;
}