.skills{
        min-height: calc(100vh - 5rem);
        width:100vw;
        max-width:65rem;
        margin:0 auto;
    }
    
    .skill-top p{
        margin-top: 30px;
        font-weight: 300;
        text-align: justify;
    
    }
    .myskills{
        font-size: 50px;
       text-align: center;
       font-weight: 500;
       overflow-y: hidden;
    }
    .container{
        margin-top: 50px;
        
    
    }
    
    /* input[type="range"]::-webkit-slider-thumb,
    input[type="range"]::-moz-range-thumb,
    input[type="range"]::-ms-thumb {
        opacity:0 !important;
    } */
    
    
    input[type="range"] {
        width:400px;
        accent-color:rgb(73, 73, 203);
        }
    
        .skill-content{
            margin:2rem 0;
        }
        .skill-header{
            width:400px;
            display: flex;
            font-size:1.3rem;
            justify-content: space-between;
            margin-bottom: 10px;
    
        }
       
        @media screen and (max-width:1270px) {
            .skill-top p{
                margin:1rem 1rem 1.5rem 1rem;
                /* display: flex;
                flex-wrap: wrap; */
            
            } 
        }
        @media screen and (max-width:980px) {
            .skill-top p{
                margin-left:2rem;
            }
        }
        @media screen and (max-width:600px) {
            .container{
                margin-right: -40px;
                margin-left: 50px;
            }
        }
        @media screen and (max-width:425px){
            input[type="range"] {
                width:350px;
            }
            .skill-header{
                width:350px;
            }
        }
    